/*                */
/* Parallax rules */
/*                */
.parallax {
    position: relative;
    top: 30vw;
    /*overflow-y: auto;*/
    perspective: 100vw;
}

.parallax-layer {
    position: absolute;
}

.parallax-layer .mountain {
    width: 100vw;
    height: 100vw;
}

.parallax-layer.front {
    z-index: -1;
}
.parallax-layer.front > .mountain-path {
    position: absolute;
    z-index: 0;
    left: 36vw;
    top: 100px;
}

.parallax-layer.back {
    z-index: -2;
    top: -20vw;
}

#main-mountain {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vw;
}



/*                 */
/* Snapping widget */
/*                 */
#snap-widget {
    position: fixed;
    z-index: 1;
    transform: translateZ(0); /* Performance hack */

    top: 30%;
    right: 20px;
}

.snap-button {
    width: 12px;
    height: 12px;
    /*border: 1px solid lightgray;*/
    border-radius: 6px 6px;
    margin: 6px 0;
    background-color: yellowgreen;
    cursor: pointer;
}



/*                 */
/* Hotspot rules   */
/*                 */

/* Brings hotspots to front */
.hot-spot {
    position: absolute;
    z-index: 1;
}

/* Define size of SVG box */
.svg-visible {
    position: absolute;
    width: 20vw;
    height: 20vw;
    min-width: 15rem;
    min-height: 15rem;
}

.svg-blueprint {
    display: none;
}

/* These classes targets rectangle within SVG */
.square {
    filter: drop-shadow( -1px 1px 1px transparent );
    cursor: pointer;
}

.square.revealed {
    filter: drop-shadow( -1px 1px 1px #000 );

    transition-property: filter;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    transition-delay: 0.3s;

    cursor: default;
}



/* Part of the page bellow the main mountain */
#mountains-bottom {
    width: 100vw;
    height: 80vw;
    background-color: turquoise;
}
