/*                */
/* Parallax rules */
/*                */
.parallax {
    position: relative;
    top: 40vh;
    /*overflow-y: auto;*/
    perspective: 1000px;
}

.parallax-layer {
    position: absolute;
}

.parallax-layer > .mountain {
    width: 100vw;
    height: 100vw;
}
/*parallax-layer.back > .mountain {
    width: 100vw;
}*/

.parallax-layer.front {
    z-index: -1;
}
.parallax-layer.front > .mountain-path {
    position: absolute;
    z-index: 0;
    left: 36vw;
    top: 100px;
}

.parallax-layer.back {
    z-index: -2;
    top: -20vw;
}


/*                 */
/* Snapping widget */
/*                 */
#snap-widget {
    position: fixed;
    z-index: 1;
    transform: translateZ(0);

    top: 30%;
    right: 20px;
}
.snap-button {
    width: 12px;
    height: 12px;
    /*border: 1px solid lightgray;*/
    border-radius: 6px 6px;
    margin: 6px 0;
    background-color: yellowgreen;
    cursor: pointer;
}


/*                 */
/* Hotspot rules   */
/*                 */
.hot-spot {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 200px;

    transition: width 1.5s, height 1.5s;
}

#svg-blueprint {
    display: none;
}

#mountains-bottom {
    width: 100vw;
    height: 1500px;
    background-color: turquoise;
}
